body{
 	background:#4ca176;
 	color:white;

}

.other{
	color:black;
	background:#2f3138;
	padding-top: 60px;
}

/*first div on homepage*/
#intro{
	background:url('../img/panel1.png')no-repeat center;
	text-align:center;
	height:650px;
}

#txtbox{
	background:black;
	opacity: 0.6;
	margin-top:300px;
	height:200px;
}
/*text in div*/
#introtxt{
	position:absolute;
	top:300px;

}
/*2nd div*/
#youth{
	background:#2f3138;
	padding-top:100px;
	height:500px;
}

#solution{
	background:#4ca176;
	padding-top:100px;
	height:700px;
}

#research{
	background:#2f3138;
	height:800px;
	padding-top:100px;
}

#next{
	background:#4ca176;
	padding-top:100px;
	height:400px;
}

#ten{
	background:white;
	color:black;
	padding-top:100px;
	height:800px;
}

#eval{
	background:#2f3138;
	padding-top:100px;
	height:800px;
}

#sports{
	background:#4ca176;
	padding-top:100px;
	height:700px;
}	
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(169,169,169, 0.8);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:black !important;
    z-index:2;
}

.but{
	margin:5px 3px;
	width:150px;
}

.butimg{
	margin: 5px 0px;
	width:150px;
}

/*For the factors thing */
.bac{
	background:white;
	padding:10px;
	color:black;
}

.top{
	padding-top:100px;
	color:black;
}

.myPan{
	padding:10px;
	font-size: 13px;
}
.myTable{
	color:black;
	font-size: 12px;
}
th{
	text-align:center;
	font-size: 15px;
}

.panel-heading{
	font-size:18pt;
}

/*first div on volleybal*/
#volleyball{
	background:#4ca176 ;
	height:200px;
}

#headtxt{
	position:absolute;
	top:80px;
}

.sport1{
	background:#2f3138;
	height:700px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}