.list2
{
    -moz-column-count: 5;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 5;
    -webkit-column-gap: 2.5em;
     column-count: 5;
     column-gap: 2.5em;
}

th.dangerh{
	background-color:#EF5350;
	color:white;
}

th.warningh{
	background:#FFE082;
	color:black;
}

th.successh{
	background:#66BB6A;
	color:white;
}

h1{
	text-transform: uppercase;

}

.special{
	font-size:48pt;
}

body{
 	background:#4ca176;
 	color:white;
 	font-size: 1.5em;

}

.jumbotron{
	padding-top: 15px;
}


.other{
	color:black;
	background:white;
	padding-top: 60px;
}

/*first div on homepage*/
#intro{
	background:url('../img/panel1.png')no-repeat center;
	text-align:center;
	height:650px;
}

#txtbox{
	background:black;
	opacity: 0.6;
	margin-top:220px;
	height:300px;
}
/*text in div*/
#introtxt{
	position:absolute;
	top:300px;

}
/*2nd div*/
#youth{
	background:#4ca176;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

.list
{
    -moz-column-count: 2;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
     column-count: 2;
     column-gap: 2.5em;
}

#solution{
	background:#4ca176;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

#research{
	background:#2f3138;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

#next{
	background:#4ca176;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

#ten{
	background:white;
	color:black;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

#eval{
	background:#2f3138;
	padding-top:100px;
	padding-bottom:100px;
	height:auto;
}

#sports{
	background:#4ca176;
	padding-top:100px;
	padding-bottom:50px;
	height:auto;
}	
.thumbnail {
    position:relative;
    overflow:hidden;
}

h2{
	color:white;
}
 
.caption2 {
    position:absolute;
    top:0;
    right:0;
    background:rgba(169,169,169, 0.8);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:black !important;
    z-index:2;
}



.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(76, 161, 118, 0.8);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:black !important;
    z-index:2;
}

.but{
	margin:5px 3px;
	width:150px;
}

.butimg{
	margin: 5px 0px;
	width:150px;
}

/*For the factors thing */
.bac{
	background:white;
	padding:10px;
	color:black;
}

.top{
	padding-top:100px;
	color:black;
}

.myPan{
	padding:10px;
	font-size: 13px;
}
.myTable{
	color:black;
	font-size: 12px;
}
th{
	text-align:center;
	font-size: 15px;
}

.panel-heading{
	font-size:18pt;
}

/*first div on volleybal*/
.volleyball{
	background:#4ca176 ;
	height:auto;
	padding-bottom:5px;
}

#headtxt{
	position:absolute;
	top:80px;
}

.sport1{
	background:#2f3138;
	height:700px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}