<html>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/myscripts.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="js/jquery.easing.min.js"></script>

	<head>
  
		<title>Kate Nguyen</title>
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div display="inline" align="center"><br>

      		<a href="/"><button type="button" class="btn but btn-success">Home</button></a>
        	<div class="btn-group">
	          <button type="button" class="btn but btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Factors<span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu">
	            <li><a href="/Market.html">Market Size</a></li>
	            <li><a href="/Org.htm;">Organizational Structure</a></li>
	            <li><a href="/Culture.html">Culture</a></li>
              <li><a href="/Pain.html">Pain Points</a></li>
              <li><a href="/Additional.html">Additional Insights</a></li>
	          </ul>
	       </div>
	

		<!--Button 1-->
		<div class="btn-group">
			<button type="button" class="btn butimg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sports<span class="caret"></span>
          	</button>
          	<ul class="dropdown-menu">
	            <li><a href="/Football.html">Football</a></li>
	            <li><a href="/Hockey.html">Ice Hockey</a></li>
              <li><a href="/Volleyball.html">Volleyball</a></li>
              <li><a href="#">Track and Field</a></li>
               <li><a href="#">Track and Field</a></li>
	         </ul>
        </div>
        
      

        <br><br>

        </div>
    	</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
		</nav>