<html>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/myscripts.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/tableau_v8.debug.js"></script>

	<head>
  
		<title>Youth Sports Market</title>
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div display="inline" align="right" style="padding-right:20px;"><br>

      		<a href="http://kateknewing.github.io/GC"><button type="button" class="btn but btn-success">Home</button></a>
        	<div class="btn-group">
	          <button type="button" class="btn but btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Factors<span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu">
	            <li><a href="market.html">Market Size</a></li>
	            <li><a href="org.html">Organizational Structure</a></li>
	            <li><a href="culture.html">Culture</a></li>
              <li><a href="pain.html">Pain Points</a></li>
              <li><a href="additional.html">Additional Insights</a></li>
	          </ul>
	       </div>
	

		<!--Button 1-->
		<div class="btn-group">
			<button type="button" class="btn butimg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sports<span class="caret"></span>
          	</button>
          	<ul class="dropdown-menu">
          		 <li><a href="fieldhockey.html">Field Hockey</a></li>
	            <li><a href="football.html">Football</a></li>
	            <li><a href="golf.html">Golf</a></li>
	            <li><a href="hockey.html">Ice Hockey</a></li>
	            <li><a href="tennis.html">Tennis</a></li>
	            <li><a href="soccer.html">Soccer</a></li>
	            <li><a href="swimming.html">Swimming</a></li>
              <li><a href="track.html">Track and Field</a></li>
              <li><a href="wrestling.html">Wrestling</a></li>
              <li><a href="volleyball.html">Volleyball</a></li>
	         </ul>
        </div>
        
      

        <br><br>

        </div>
    	</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
		</nav>