<html>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/myscripts.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="js/jquery.easing.min.js"></script>

	<head>
  
		<title>Kate Nguyen</title>
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div display="inline" align="center"><br>

      		<a href="home.php"><button type="button" class="btn but btn-success">Home</button></a>
        	<div class="btn-group">
	          <button type="button" class="btn but btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Proccess <span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu">
	            <li><a href="step1.php">Tier I</a></li>
	            <li><a href="step2.php">Tier II</a></li>
	            <li><a href="step2.php">Tier III</a></li>
	          </ul>
	       </div>
	

		<!--Button 1-->
		<div class="btn-group">
			<button type="button" class="btn butimg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img width="20px" height="20px" src="img/volleyball.png" style="margin:0px 10px 0px 0px;">Sport 1 <span class="caret"></span>
          	</button>
          	<ul class="dropdown-menu">
	            <li><a href="#">Some Detail</a></li>
	            <li><a href="#">Another Detail</a></li>
	         </ul>
        </div>
        
        <!--Button 2-->
        <div class="btn-group">
          <button type="button" class="btn butimg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img width="20px" height="20px" src="img/soccer.png" style="margin:0px 10px 0px 0px;">Sport 2<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Some Detail</a></li>
            <li><a href="#">Another Detail</a></li>
          </ul>
        </div>

		<!--Button 3-->
        <div class="btn-group">
         	<button type="button" class="btn butimg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img width="20px" height="20px" src="img/soccer.png" style="margin:0px 10px 0px 0px;">Sport 3<span class="caret"></span>
          	</button>
          	<ul class="dropdown-menu">
	            <li><a href="#">Some Detail</a></li>
	            <li><a href="#">Another Detail</a></li>
          	</ul>
        </div>

        <br><br>

        </div>
    	</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
		</nav>